/* These are internal styles that are suitable to screen media only.

   Note that there will be a corresponding class defined in print.css
   for each class in this file.
*/

.panesetPositioning
{
   position: absolute;
   overflow: hidden;
}

.pane-visible-Positioning
{
   position: absolute;
   overflow: visible;
}

.pane-hidden-Positioning
{
   position: absolute;
   overflow: hidden;
}

.pane-scroll-Positioning
{
   position: absolute;
   overflow: scroll;
}

.pane-auto-Positioning
{
   position: absolute;
   overflow: auto;
}

.unprintablePane-visible-Positioning
{
   position: absolute;
   overflow: visible;
}

.unprintablePane-hidden-Positioning
{
   position: absolute;
   overflow: hidden;
}

.unprintablePane-scroll-Positioning
{
   position: absolute;
   overflow: scroll;
}

.unprintablePane-auto-Positioning
{
   position: absolute;
   overflow: auto;
}

