<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5" metadata-complete="false">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>si.telekom.dis.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/DIS_webapp/greet</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


	<!-- Servlets -->
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>si.telekom.dis.server.LoginServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/WebUi2/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>adminServlet</servlet-name>
		<servlet-class>si.telekom.dis.server.AdminServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminServlet</servlet-name>
		<url-pattern>/WebUi2/admin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>explorerServlet</servlet-name>
		<servlet-class>si.telekom.dis.server.ExplorerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>explorerServlet</servlet-name>
		<url-pattern>/WebUi2/explorer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>explorerServ</servlet-name>
		<servlet-class>si.telekom.dis.server.ExplorerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>explorerServ</servlet-name>
		<url-pattern>/WebUi2/explorerServ</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>uploadServ</servlet-name>
		<servlet-class>si.telekom.dis.server.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadServ</servlet-name>
		<url-pattern>/WebUi2/uploadServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>si.telekom.dis.server.rest.AppResourceConfig</param-value>
        </init-param>		
		
		
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>si.telekom.dis.server.rest</param-value>
		</init-param>
		<!-- <init-param> -->
		<!-- <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name> -->
		<!-- <param-value>true</param-value> -->
		<!-- </init-param> -->
		<!-- <init-param> -->
		<!-- <param-name>com.sun.jersey.config.feature.DisableWADL</param-name> -->
		<!-- <param-value>true</param-value> -->
		<!-- </init-param> -->

		<init-param>
			<param-name>jersey.config.server.tracing</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.media.multipart.MultiPartFeature,si.telekom.dis.server.rest.DisRest</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>





	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>WebUi2.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>si.telekom.dis.server.WebAppListener</listener-class>
	</listener>

	<context-param>
		<description>Documentum docbase name</description>
		<param-name>documentum.docbrokerHost</param-name>
		<param-value>${documentum.docbrokerHost}</param-value>
	</context-param>
	<context-param>
		<description>Documentum docbase name</description>
		<param-name>documentum.docbaseName</param-name>
		<param-value>${documentum.docbaseName}</param-value>
	</context-param>
	<context-param>
		<description>Documentum superuser login name</description>
		<param-name>documentum.superUserLogin</param-name>
		<param-value>${documentum.superUserLogin}</param-value>
	</context-param>
	<context-param>
		<description>Documentum superuser password</description>
		<param-name>documentum.superUserPassword</param-name>
		<param-value>${documentum.superUserPassword}</param-value>
	</context-param>
	<context-param>
		<description>Documentum superuser domain</description>
		<param-name>documentum.superUserDomain</param-name>
		<param-value>${documentum.superUserDomain}</param-value>
	</context-param>
	<context-param>
		<description>Documentum user domain</description>
		<param-name>documentum.userDomain</param-name>
		<param-value>${documentum.userDomain}</param-value>
	</context-param>

	<context-param>
		<description>Retention addUnit takes place in retention date calculation can add days or years to classification retention on document. value can me day, month or year</description>
		<param-name>retention.addUnit</param-name>
		<param-value>${retention.addUnit}</param-value>
	</context-param>


	<context-param>
		<description>Documentum database name</description>
		<param-name>barcode.database</param-name>
		<param-value>${barcode.database}</param-value>
	</context-param>
	<context-param>
		<description>Documentum barcode sql user login name</description>
		<param-name>barcode.user</param-name>
		<param-value>${barcode.user}</param-value>
	</context-param>
	<context-param>
		<description>Documentum barcode sql user password</description>
		<param-name>barcode.password</param-name>
		<param-value>${barcode.password}</param-value>
	</context-param>
	<context-param>
		<description>Documentum barcode sql host</description>
		<param-name>barcode.sqlHost</param-name>
		<param-value>${barcode.sqlHost}</param-value>
	</context-param>
	<context-param>
		<description>Documentum barcode sql port</description>
		<param-name>barcode.sqlPort</param-name>
		<param-value>${barcode.sqlPort}</param-value>
	</context-param>

	<context-param>
		<description>Application configuration path (folder of profiles)</description>
		<param-name>configPath</param-name>
		<param-value>${configPath}</param-value>
	</context-param>



</web-app>
