/**************************************************************/
/* Rules for styling drag/drop containment div that           */
/* overlays individual drop targets                           */
/* Applies whether drag/dropping or not                       */
/**************************************************************/
/* Use padding around div to reserve space for borders etc.   */
.dndContainer
{
  width:100%;
  height:100%;
  overflow:hidden;
  /*removing padding because it breaks lines connecting nodes in the browser tree*/
  padding: 0px 0px 0px 0px;
}
/* Rules for styling drag/drop overlay                        */
.Odnd
{
  position: absolute;
  vertical-align: top;
  cursor: pointer;
}


/**************************************************************/
/* Rules for drop-region targets                              */
/* Applies whether drag/dropping or not                       */
/**************************************************************/
DIV.Tdnd
{
  /* "width: 100%" is necessary to prevent border from */
  /* extending beyond right side of page               */
  /* Commenting this width as it degrade the listing page performance badly also, by default DIV takes 100% available width.
  /*width: 100%;*/
}


/**************************************************************/
/* Rules for styling the drag/drop div that overlays the      */
/* background datagrid, when drag source hovers over it.      */
/* Applies only during drag/drop                              */
/**************************************************************/
DIV.dndTargetHilite
{
   border-color: #4C91FF;
}
/* Spacer extends bottom of drop region beyond datagrid       */
DIV.Tpaddnd
{
  margin: 20px;
}


/**************************************************************/
/* Rules for styling the drag/drop containment div that       */
/* overlays individual drop targets when drag source hovers   */
/* over it. Applies only during drag/drop                     */
/**************************************************************/
SPAN.dndTargetHilite
{
   /*removing padding because it breaks lines connecting nodes in the browser tree*/
   padding:      0px 0px 0px 0px;
   background-color: #CDD1D5;
   width: 100%;
}
/* Anchor inside target has no space for underline, remove it */
.dndTargetHilite A
{
   text-decoration: none;
}
/* Target looks bad when showing "selected", remove it        */
.dndTargetHilite .browserTreeSelected
{
	background-color: transparent;
}


/**************************************************************/
/* Rules for styling drop targets while drag source hovers    */
/* in the "reposition" regions                                */
/* Applies only during drag/drop                              */
/**************************************************************/
/* When "reposition" drop region is below, show dotted border */
/* across bottom and fade the background color there          */
SPAN.dndBelowHilite
{
   /*removing padding because it breaks lines connecting tree nodes*/
   padding: 0px 0px 0px 0px;
   background-image: url("../images/dragdrop/below_drop.gif");
   background-repeat: repeat-x;
   width: 100%;
}
/* When "reposition" drop region is above, show dotted border */
/* across top and fade the background color there             */
SPAN.dndAboveHilite
{
   /*removing padding because it breaks lines connecting nodes in the browser tree*/
   padding: 0px 0px 0px 0px;
   background-image: url("../images/dragdrop/above_drop.gif");
   background-repeat: repeat-x;
   width: 100%;
}


/**************************************************************/
/* Rules for styling drag source while dragging               */
/* Applies only during drag/drop                              */
/* Must work OK with .defaultDatagridRowStyle                 */
/**************************************************************/
SPAN.dndSourceHilite
{
   /*removing padding because it breaks lines connecting nodes in the browser tree*/
   padding: 0px 0px 0px 0px;
   background-color: #E1E4E7;
   width: 100%;
}
/* Icon inside source looks too bright, remove color from it  */
.dndSourceHilite IMG
{
   filter: progid:DXImageTransform.Microsoft.BasicImage(Grayscale=1);
}
/* Anchor inside source has no space for underline, remove it */
.dndSourceHilite A
{
   text-decoration: none;
}
/* Source looks bad when showing "selected", remove it        */
.dndSourceHilite .browserTreeSelected
{
	background-color: transparent;
}

/**************************************************************/

