
/* RTE spell checker dialog has a column of buttons separated by spaces */
/* should not inherit padding from other "#scrollingcontent" CSS selectors */
#scrollingcontent .rte_spellcheckButtons DIV
{
	margin: 0px 8px 2px 0px;
   padding: 0px;
}
/*RTE Body*/
.rte
{
   direction:rtl;
}
 /*Adding this resolves spacing issue between two lines*/
.rte P, .rte DIV
{
   margin: 0px;
}
