BODY
{
    padding: 0;
    margin: 0
}

BODY, TD, P, TH, OL, UL, LI, INPUT, SELECT, TEXTAREA
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   font-size: 11px

}
A
{
   color: #000
}
.body
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   font-size: 11px
}
.defaultTextStyle
{
   width: 200px
}
.mediumTextStyle
{
 width: 170px
}
.defaultFilebrowseTextStyle
{
   width: 350px
}
.defaultPasswordStyle
{
   width: 200px
}
/* tree images */
DIV NOBR IMG
{
   border: 0;
   vertical-align: middle;
}
/* Used in place of spacer gifs in conjunction with a non-breaking space */
.spacer
{
   line-height: 1px;
   font-size: 1px
}
.defaultLinkStyle
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #000;
   text-decoration: underline
}
.defaultActionLinkStyle
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #ccc
}
A.defaultActionLinkStyle
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #000
}
.defaultDataSortLinkStyle
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #000;
   text-decoration: underline
}
.actions
{
   color: #ccc
}
A.actions
{
   color: #000;
   text-decoration: underline
}
.toolbaractions
{
   color: #808080
}
A.toolbaractions
{
   color: #000;
   text-decoration:underline
}
A.enabledlink
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #000;
   text-decoration: underline
}
A#tabstyle, A#tabstyle:Visited, A#tabstyle:Active
{
   text-decoration: none;
   cursor: pointer
}
A#buttonstyle, A#buttonstyle:Visited, A#buttonstyle:Active
{
   text-decoration: none;
   cursor: pointer
}
INPUT.defaultDocbaseAttributeStyle
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   font-size: 11px
}
A.defaultDocbaseAttributeStyle
{
   text-decoration: underline
}
INPUT.disabledInput
{
   background-color: #dadada
}
.accessiblemenustyle
{
   text-decoration: none;
   cursor: pointer;
   color: #333
}
.rowSeparator
{
   background-color: #e0e0e0
}
.contentBackground
{
   background-color: #fff
}
/* Burntsand AI Style */
.contentSpecialBackground1
{
   background-color: #fff
}
/* End Burntsand AI Style */
.contentBorder
{

}
.contentBorderDark
{
}
.headerBackground
{
   background: #b7b9bb url(../images/header_bg.gif) repeat-x;
   padding: 10px 5px 5px;
}

.searchResultsBackground{
      border: 1px solid #999;
      background: #D8D7D7;
      }

.searchResultsBackground .actionimage{
      vertical-align: top;
}
.searchResultsBackground .drilldownLabel{
      display: block;
      color: #4B44D1;
      padding: 0 8px;
}

a.breadcrumbdestination
{
   text-decoration: none;
}
.pagerBackground
{
   background-color: #999;
   padding-right: 3px
}
/* Burntsand AI Style */

.pager
{
   padding-top: 3px;
   padding-bottom: 3px;
   padding-left: 17px;
   padding-right: 3px;
}
.pagerSpecialBackground
{
  background-color: #999
}
/* End Burntsand AI Style */

.colHeaderBackground
{
   background-color: #CDD1D5;
}
.drilldownHeader
{
   background-color: #999
}
/* Burntsand AI Style */
.drilldownSpecialHeader
{
   background-color: #999
}
/* End Burntsand AI Style */
.drilldownTitle
{
   color: #ffffff;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 14px;
   font-weight: bold
}
.drilldownFolderPath
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 11px;
   font-weight: bold;
   line-height: 16px
}
.drilldownDirectoryName
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 14px;
   font-weight: bold
}
.drilldownFile

{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 12px
}
.standardFormSmall
{
   width: 166px
}
.standardForm
{
   width: 375px
}
#modal .dialogTitle .defaultLabelStyle, #modalLocator .dialogTitle .defaultLabelStyle
{
   color: #fff;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 13px;
   font-weight: bold
}
#modalLocator .dialogTitle
{
   border: none;
   background: none
}
#modal .subTitle, #modalLocator .subTitle
{
   color: #fff;
   margin: 0 18px
}
/* Burntsand AI Style */
.dialogTitle1
{
   color: #333;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 14px;
   font-weight: bold
}
/* End Burntsand AI Style */

.dialogFileName
{
   color: #fff;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 12px
}
.dialogFileDetails
{
   color: #fff;
   font-family:"Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 10px
}
#contentArea .dialogFileName
{
   color: #000
}
#contentArea .dialogFileDetails
{
   color: #000
}
.menuBar
{
   font-size: 11px;
   text-decoration: none;
   border: 1px solid transparent;
   color: #000
}

/*
   temporarily replace the invalid path "../images/menu/menu_item_bg.gif" with "../images/menu/menubar_bg.gif"
   while waiting for a permanent fix from UEG (bug 136260)
*/
.menuBarHighlight
{
   background: url(../images/menu/menubar_over_bg.gif) #f0f0f0 repeat-x;
   border: 1px solid transparent
}
.menuBarHighlightAutoComplete, .autoCompleteHighlightSelected
{
   background: #fff;
   border: 1px solid #a5acb2;
   font-weight: bold;
   color: #333;
   text-align: left;
   padding: 2px
}
.autoCompleteHighlightSelected
{
   background: #ccc
}
.menuBarDisabled
{
   font-size: 11px;
   text-decoration: none;
   color: #999;
   font-weight: bold
}
.menubarBackground
{
  background: url(../images/menu/menubar_bg.gif) #d6d6d6 repeat-x
}
.menu
{
   border-color: #333;
   background-color: #fff;
   color: #333;
   font-family: Tahoma, "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 11px
}
.menuDisabled
{
   font-size: 11px;
   text-decoration: none;
   color: #ccc
}
.menuHighlight
{
   background: #ccc;
   color: #333
}

.menuSeparator
{
   background: #a5acb2
}
.submenuArrow
{
   background: url("../images/popupmenu/submenu.gif")
}
.submenuArrowDisabled
{
   background: url("../images/popupmenu/submenu_disabled.gif")
}
.elementBackground
{
   background: #00225f
}
.elementText
{
   color: #00a5c6
}
/* button styles */

BUTTON
{
   background: #bcbcbc url("../images/button/button_bg.gif") repeat-x;
   font-weight: bold;
   font-size: 11px;
   color: #333;
   padding: 1px 2px;
   border-width: 1px;
   border-style: solid;
   border-color: #CCC #565656 #565656 #CCC;
   cursor: pointer;
   height:20px;
   line-height: normal;
   white-space: nowrap;
   /*IE  margin fix */
   overflow: visible;
   _width: 1px;
}

BUTTON:hover
{
  background: #fdfdfd url("../images/button/button_bg_over.gif") repeat-x;
}

BUTTON:active
{
   background:  #bcbcbc url("../images/button/button_bg_onclick.gif");
   border-color: #565656 #CCC #CCC #565656;
}

BUTTON[disabled]
{
   color: #999;
   cursor: auto;
}

BUTTON[disabled]:hover
{
   background: #c0c0c0 url("../images/button/button_bg.gif") repeat-x;
}

BUTTON.default{}

/* default classes used by webforms controls */

.defaultButtonImageStyle
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   text-decoration: none;
   font-size: 12px;
   line-height: 14px;
   font-weight: normal
}
.defaultButtonImageDisabledStyle
{
   color: #999;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   text-decoration: none;
   font-size: 12px;
   line-height: 14px;
   font-weight: normal
}
.defaultDatagridRowStyle
{
   vertical-align: bottom;
   background-color:#F2F5FA;
   padding-left: 0;
   padding-right: 10px;
   padding-top: 2px;
   padding-bottom: 2px
}

/* Burntsand AI Style */
.defaultSpecialDatagridRowStyle
{
   vertical-align: bottom;
   background-color:#F2F5FA;
   padding-left: 10px;
   padding-right: 10px
}
/* End Burntsand AI Style */
.defaultDatagridRowAltStyle
{
   vertical-align: bottom;
   background: #FFF;
   padding-left: 0;
   padding-right: 10px;
   padding-top: 2px;
   padding-bottom: 2px
}

.defaultTabbarNormalStyle
{
   background-image: url("../images/modal/modal_tab_bg_off.gif");
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   text-decoration: none;
   font-weight: bold;
   font-size: 12px;
   vertical-align: baseline;
   padding-top: 2px;
   height: 22px
}
.defaultTabbarSelectedStyle
{
   height: 22px;
   background-image: url("../images/modal/modal_tab_bg_on.gif");
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   text-decoration: none;
   font-weight: bold;
   font-size: 12px;
   padding-top: 2px;
   vertical-align: baseline
}
.accessibleTabbarNormalStyle
{
   background-image: url("../images/modal/modal_tab_bg_off.gif");
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   text-decoration: none;
   font-weight: bold;
   font-size: 12px;
   vertical-align: top;
   height: 22px;
   padding-top:0px;
   padding-bottom: 10px
}
.accessibleTabbarSelectedStyle
{
   height: 22px;
   background-image: url("../images/modal/modal_tab_bg_on.gif");
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   text-decoration: none;
   font-weight: bold;
   font-size: 12px;
   vertical-align: top;
   padding-top:0px;
   padding-bottom: 10px
}
.accessibleTabbarDisabledStyle
{
   background-image: url("../images/modal/modal_tab_bg_off.gif");
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #666;
   text-decoration: none;
   font-weight: bold;
   font-size: 12px;
   padding-bottom: 21px;
   vertical-align: top;
   height: 22px
}

.tabdivider
{
   width:1px;
   height:22px;
   font-size:1px;
   background: url("../images/modal/modal_tab_divider.gif")
}
.tabbuffernotselectedleft
{
   width: 10px;
   font-size: 1px;
   background: url("../images/modal/modal_tab_corner_left_off.gif")
}
.tabbuffernotselectedright
{
   width: 11px;
   font-size: 11px;
   background: url("../images/modal/modal_tab_corner_right_off.gif")
}
.tabbufferselectedleft
{
   width:10px;
   font-size:1px;
   background-image: url("../images/modal/modal_tab_corner_left_on.gif");
}
.tabbufferselectedright
{
   width:11px;
   font-size:1px;
   background-image: url("../images/modal/modal_tab_corner_right_on.gif");
}
.defaultTabbarDisabledStyle
{
   background-image: url("../images/modal/modal_tab_bg_off.gif");
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #666;
   text-decoration: none;
   font-weight: bold;
   font-size: 12px;
   padding-top: 2px;
   vertical-align: baseline;
   height: 22px
}
.defaultTabbarNormalGfxStyle
{
   text-decoration: none;
   color: #fff;
   font-weight: bold
}
.defaultTabbarSelectedGfxStyle
{
   text-decoration: none;
   color: #ff0;
   font-weight: bold
}
.defaultTabbarDisabledGfxStyle
{
   text-decoration: none;
   color: #cfcfcf
}
/* Scrollable Tabbar Support */
.tabbarPositionBox
{
   width:99%;
   height:22px;
}
/*  IE does NOT respond to child selectors - this is for Firefox  */
td>div.tabbarPositionBox {
   width:99%;
   height:22px;
}
/*  sets what % of tabs get shown; higher % is more shown */
.tabbarClippingBox
{
   width:99%;
   height:22px;
}
/* the clipping box is the parent of container  */
.tabbarContainerBox
{
   width:99%;
   height:22px;
}
.bckChevronBox
{
   width:20px;
   padding: 0px 5px 0px 2px
}
.fwdChevronBox
{
   width:20px !important;
   padding: 0px 2px 0px 5px
}
.treeNodeHeight
{
  height: 16px;
  line-height:16px;
  padding: 0px;
  margin: 0px
}
.defaultTreeNormalStyle
{
   color: #333;
   text-decoration: none;
   cursor: pointer
}
.defaultTreeSelectedStyle
{
   background: #b5c4d9;
   color: #000;
   text-decoration: none;
   cursor: pointer
}
.defaultTreeDisabledStyle
{
   color: #ccc;
   cursor: default
}
.defaultActionButtonImageStyle
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   text-decoration: none;
   font-size: 12px;
   line-height: 14px;
   font-weight: normal
}
.defaultActionButtonImageDisabledStyle
{
   color: #999;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 12px;
   line-height: 12px;
   vertical-align: baseline

}

/*width of <td> where colon lives between name and value in lists*/
.defaultcolumnspacer
{
   width: 10px;
   font-size: 12px;
   font-weight: bold
}
.defaultRankValueFormatterTableStyle
{
   background-color: #c0c0c0
}
.defaultRankValueFormatterCellStyle
{
   background-color: #001efe;
   font-size: 3px
}
.defaultRankValueFormatterCellSpaceStyle
{
   font-size: 3px
}
.validatorMessageStyle
{
   color: red
}
.brokenBinding
{
   color: red;
   font-weight: bold;
   font-size: larger
}
/* calendar control styles */
.calendar
{
   border-color: #000;
   background-color: #FFF;
   color: #000000;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 12px
}
.calendar_caption
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 14px;
   background-color: #D0D0D0;
   color: #000
}
.calendar_month_flipper
{
   background-color: #D0D0D0;
   color: #000
}
.calendar_day
{
   background: #FFF;
   color: #339
}
.calendar_cell
{
   background: #FFF
}
.calendar_cell_selected
{
   background: #C0C0C0;
   color: #FFF
}
.calendar_cell_lowlight
{
   background: #FFF;
   color: #C0C0C0
}
.calendar_cell_today
{
   background: #CCC
}

.errorMessageLabel
{
   background: #c6c6c6
}
.errorTitle
{
   vertical-align: top;
   color: #333;
   font-weight: bold;
   margin-top: 5px;
   margin-left: 10px;
   padding: 0
}

.errorSubTitle
{
   margin-left: 50px;
   color: #333;
   padding: 0
}
.requiredFieldAsterisk
{
   color: #F00;
   font-size: 14px
}

/* Modal dialog window styles */
.columnpanel
{
   padding-right: 10px;
   background-color: #ccc
}
.fieldlabel
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   text-decoration: none;
   font-size: 12px;
   font-weight: bold;
   height: 30px
}
.shortfieldlabel
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   text-decoration: none;
   font-size: 12px;
   font-weight: bold
}
.listlabel
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   text-decoration: none;
   font-size: 12px;
   font-weight: bold
}
.grouplabel
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   text-decoration: none;
   font-size: 14px;
   font-weight: bold
}
.defaultLabelStyle
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   text-align: inherit
}
A.defaultLabelStyle
{
   text-decoration: underline
}
.infotableborder
{
   background: #333;
   line-height: 1px;
   font-size: 1px
}
.infotableverticalborder
{
   background: #333;
   line-height: 1px;
   font-size: 1px
}
.infotablehorizontalborder
{
   background: #333;
   line-height: 1px;
   font-size: 0px
}
.defaultPanesetBackground
{

}
/* Burntsand AI Style */
.defaultSpecialPanesetBackground
{
   background: #B5BFC4
}
.defaultSpecialPanesetBackground1
{
   background: #B5BFC4
}
/* End Burntsand AI Style */
.modalnavbg
{
   background: #C6C6C6;
   line-height: 11px;
   font-size: 11px;
   font-weight: bold
}
.modalnav
{
   padding: 0px 3px
}
.modalnavheight
{
   height: 23px
}
/* Burntsand AI Style */
.contentSpecialBackground
{
 background: #fff
}
/* End Burntsand AI Style */
.modalleftedge
{
   background: url("../images/modal/modal_bg_left.gif");
   line-height: 1px;
   font-size: 1px
}
.modalrightedge
{
   background: url("../images/modal/modal_bg_right.gif");
   line-height: 1px;
   font-size: 1px
}
.modaltopbg
{
   background: url("../images/modal/modal_top_bg.gif");
   line-height: 1px;
   font-size: 1px
}
.modaltitletop
{
   line-height: 1px;
   font-size: 1px;
   background: url("../images/modal/modal_top_bg_title.gif")
}
.modaltitletext
{
   background: url("../images/modal/modal_top_bg_title2.gif");
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #000;
   text-decoration: none;
   font-size: 13px;
   font-weight: bold
}
.modaltopleftedge
{
   line-height:1px;
   font-size:1px;
   background: url("../images/modal/modal_top_leftedge.gif")
}
.modaltoprightedge
{
   line-height: 1px;
   font-size: 1px;
   background: url("../images/modal/modal_top_rightedge.gif")
}
.modalbgbbtm
{
   line-height: 1px;
   font-size: 1px;
   background: url("../images/modal/modal_btnbar_bg_btm.gif")
}
.modalsubhead
{
   color: #333;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 11px
}
.modalcornerleft
{
   background: url("../images/modal/modal_btnbar_corner_lft_btm.gif");
   line-height: 1px;
   font-size: 1px
}

.modalcornerright
{
   background: url("../images/modal/modal_btnbar_corner_rt_btm.gif");
   line-height: 1px;
   font-size: 1px
}

/*D6 modal container styles*/
#modal, #modalLocator, #persistentobjectlocator, #userorgrouplocator
{
   background: url("../images/modal/modalpage_bg.gif") repeat-x #c3c5c7 !important;
   top: 0px;
   bottom: 0px
}
#scrollingcontent
{
   border: 1px solid #a5acb2;
   border-top: none;
   background: url("../images/modal/contentsheet_bg.gif") 100% 100% no-repeat #fff;
   _text-align: center;
}

#scrollingcontent .content, #scrollingcontent .innerContent
{
	width: 85%;
	margin: 0 auto;
	text-align: left;
        padding: 20px 0;
}
#mainPaneset
{
   background: #3b669d;
   /* Commented padding to address IE 10 issue.
   padding: 20px;*/
   border: 1px solid;
   border-color: #383732 #36485D
}
#rightcolumn {
   background:  url("../images/modal/contentsheet_dropshadow_rt.gif")  top left repeat-y #3b669d
}
#leftcolumn  {
   background: #3b669d
}

#buttonareaPane .modalButtonBar
{
   margin: 10px 18px;
}

#buttonareaPane TABLE
{
   float: left;
   display: inline;
   margin: 10px 0 0 7px
}

#appintgButtonareaPane .modalButtonBar
{
   /*background: url("../images/modal/contentsheet_dropshadow.gif") top left repeat-x #667fa3;*/
   height: 45px;
   margin-left: 5px;
   margin-right: -8px;
}
#appintgButtonareaPane BUTTON
{
   margin: 10px 0 10px 0px;
   font-size: 11px;
   font-weight: bold;
}

#modal .webcomponentTitle, #modal .dialogTitle, #modalLocator .webcomponentTitle
{
   color: #fff;
   font-size: 13px;
   font-weight: bold;
   display: block;
   padding: 0 0 0 18px;
   height: 41px;
   position: relative;
   top: 10px;
   overflow: hidden
}

.propertysheetdialogtitle
{
   color: #fff;
   font-size: 13px;
   font-weight: bold;
   display: block;
   padding: 0 0 0 18px;
   height: 39px;
   position: relative;
   top: 10px;
   overflow: hidden;
}

.propertysheetlabelstyle
{
   color:white;
}

#modalLocator .dialogTitle
{
color: #fff;
font-size: 13px;
font-weight: bold
}
#tabs
{
margin: 0 10px;
text-align: left
}
/*End modal container styles*/

/* Start login screen styles */
.loginerrorspacing
{
   margin-top: 12px;
   margin-bottom: 12px
}
.loginleftedge
{
   background: url("../images/login/login_bg_left.gif");
   line-height: 1px;
   font-size: 1px
}
.loginrightedge
{
   background: url("../images/login/login_bg_right.gif");
   line-height: 1px;
   font-size: 1px
}
.logintopbg
{
   background: url("../images/login/login_top_bg.gif");
   line-height: 1px;
   font-size: 1px
}
.logintitletop
{
   line-height: 1px;
   font-size: 1px;
   background: url("../images/login/login_top_bg_title.gif")
}
.logintitletext
{
   background-image: url("../images/login/login_top_bg_title2.gif");
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   text-decoration: none;
   font-size: 13px;
   font-weight: bold
}
.logintopleftedge
{
   line-height: 1px;
   font-size: 1px;
   background: url("../images/login/login_top_leftedge.gif")
}
.logintoprightedge
{
   line-height: 1px;
   font-size: 1px;
   background: url("../images/login/login_top_rightedge.gif")
}
.loginbgbbtm
{
   line-height: 1px;
   font-size: 1px;
   background: url("../images/login/login_btnbar_bg_btm.gif")
}
.buttonbuffer
{
   padding-left: 5px
}
.lastbutton
{
   padding-right: 5px
}
/* End login screen styles */

/*start old webcomponent css*/
.checkinFontBig
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 14px
}
.checkinFontSmall
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 11px
}
.drilldownLabel
{
   font-weight: bold
}
.drilldownItalicLabel
{
   font-style: oblique
}
.doclistbodyDatagrid{}

.doclistfilenamedatagrid
{
   padding:  2px 4px;
}
.doclistcheckbox
{
   padding: 2px 1px
}
.doclistlocicon
{
   padding-right: 4px;
   padding-left: 2px;
   padding-top: 2px;
   padding-bottom: 2px
}
.streamlinedoclistlockicon
{
   padding-left:5px
}
.doclisticon
{
   padding: 2px
}

.defaultDocbaseIconStyle
{
   margin-left: 2px;
   padding-right: 2px;
   padding-left: 0px;
   padding-top: 0px;
   padding-bottom: 0px
}

.docbaseIconOverlay
{
   border: 0px;
   height: 9px;
   width: 9px;
   position: relative;
   top: 3px;
   right: 11px;
   margin-left: -9px
}

.doclistbodyDatasortlink
{
   color: #000;
   text-decoration: underline
}
/* Burntsand AI Style */
.doclistSpecialbodyDatasortlink
{
   color: #000;
   text-decoration: underline
}
/* End Burntsand AI Style */
.doclistbodyHeaderPadding
{
   padding-left: 40px
}
.doclistbodyLabel
{
   color: #000
}
.doclistbodySeparator
{
   padding: 0
}
.propertiesallDatasortlink
{
   color: #000
}
.propertiesallRowStyle
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 11pt
}
.searchBackground
{
   background: #69c
}
.inboxAttachmentRow
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 10px
}
.taskmgrErrorSectionHeading
{
   padding-top: 10px;
   padding-bottom: 5px;
   font-weight: bold;
   color: red
}
.taskmgrErrorSection
{
   padding-top: 5px;
   padding-bottom: 5px;
   color: red
}
.taskmgrSectionHeading
{
   padding-top: 10px;
   padding-bottom: 10px;
   font-weight : bold
}
.taskhdrTaskName
{
   font-size: 12px;
   font-weight : bold
}
.taskhdrItem
{
   font-size: 10px
}
.taskRequirements
{
   font-size: 10px
}
.webcomponentTitle
{
   color: #000;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 13px;
   font-weight: bold;
   padding: 0;
   margin: 0
}
.webcomponentSubTitle /*150275*/
{
   color: #000;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 11px;
   font-weight: bold;
   padding: 0;
   margin: 0
}
.webcomponentBreadcrumbTitle
{
   padding: 0;
   margin: 0;
   font-size: 13px;
   color: #000;
   font-weight: bold;
   float: left;
   white-space: nowrap
}
.webcomponentBreadcrumb
{
   color: #323433;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 11px;
   padding: 0;
   margin: 0
}
.bookmarkicon
{
   padding: 10px 0 0 1px;
   display: inline
}
.propertiestitle
{
   padding: 0;
   margin: 0;
   white-space: nowrap;
   font-weight: bold;
   font-size: 12px;
   vertical-align: top
}
.doclistFolderPath
{
   line-height: 16px;
   font-size: 11px;
   color: #000
}
.doclistHeader
{
   color: #000;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 11px
}
.doclistPager
{
   height: 18px;
   font-size: 11px;
   text-align: center;
   padding: 0;
}
.drilldownPager
{
   height: 16px;
   font-size: 10px
}
.drilldownTitle
{
   color: #000;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 11px;
   font-weight: bold
}
.drilldownDirectoryName
{
   color: #000;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 12px;
   font-weight: bold
}
.drilldownFileInfo
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   color: #333;
   font-size: 11px
}
.documentumBgColor
{
   background-color: #339
}
/*Wizard navigation styles*/
#wizard ul
{
   margin: 0 19px;
   padding: 0;
   list-style: none
 }
#wizard li
{
   float:left;
   margin-left:0;
   margin-right:15px;
   margin-top:0;
   margin-bottom:0;
   padding:0;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 12px;
   line-height: 36px;
   font-weight: bold;
   color: #999
 }
 #wizard #current
 {
   color: #000;
   background-image: url("../images/wizard/wizard_arrow.gif");
   background-repeat: no-repeat;
   background-position: top
 }

/* classes only used in JSP examples*/
.databoundExampleDatagrid
{
   background: #114
}
.databoundExampleDatagridRow
{
   background-color: #C0CAD4
}
.databoundExampleDatagridRowAlt
{
   background: #C6D2DE
}
.databoundExampleRow
{
   background: #91A5BA
}
.databoundExampleRowFont
{
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 12pt
}
.databoundExampleDataPaging
{
   font-weight: bold
}
.indexTable
{
   background: #114
}
.indexRowHeader
{
   background: #C0CAD4
}
.indexRow
{
   background: #C6D2DE
}
/*About screen styles*/
.aboutbgright
{
   background: url("../images/about/about_bg_right.gif")
}
.aboutbgleft
{
   background: url("../images/about/about_bg_left.gif")
}
.aboutbgbot
{
   background-image: url("../images/about/about_bg_bot.gif");
   line-height: 1px;
   font-size: 1px
}
.aboutTitle
{
   color: #333333;
   font-family: Trebuchet MS, Verdana, GillSans, Arial;
   font-size: 22px;
}
.iconWellText
{
   font-size: 11px;
   line-height: 10.5px;
   padding-top: 3px;
   color: #000
}
#iconwellarea
{
 background: #D7DBE0;
 bottom: 10px
}
#breadcrumbPane
{
   background: none;
   margin-left: 0px;
   color: #fff
}
.locatorborderstyle

{
   border: 1px solid #666

}
.borderstyle

{
   border: 1px solid #000

}
/* Burntsand AI Style */
.borderstyle1
{
   border: 1px solid #000
}
.borderstyle2
{
   border: 1px solid #000
}
.borderstyle3
{
   border: 1px solid #000
}
/*.borderstyle4
{  border:1px solid #000000;
}*/
/* End Burntsand AI Style */

.sortinglinkrow
{
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 17px
}


/* -------------------------------------------------------------------- */
/*  rules for Collaboration Services                                    */
/*  (rooms, contextual folders, discussions, data tables)               */
/* -------------------------------------------------------------------- */

/* Box for folder descriptions and/or room banners */

.bannerBackground
{
   background: #BDC6CB
}
.bannerBackground DIV#topleft
{
   background: url("../images/banner/top.gif") repeat-x top left;
}
.bannerBackground DIV#topright
{
   padding-top: 4px;
}
.bannerBackground DIV#bottomleft
{
   background: url("../images/banner/bottom.gif") repeat-x bottom left;
}
.bannerBackground DIV#bottomright
{
   padding-top: 4px;
}

.bannerBackground DIV#description
{
}

.bannerBackground DIV#description DIV.rte
{
   margin: 10px;
}

/* Discussion comment editor */
#commentEditorInline
{
	margin-top: 10px;
}

#commentEditorInline .commentName
{
   background: #C6C6C6 url("../images/dialoginline/commentEditor-top.gif") repeat-x top left;
   padding: 4px 3px 3px 3px;
   white-space: nowrap;
   border: 1px solid #999999;
   border-top-color: #C6C6C6;
}

#commentEditorInline .rte_textbutton
{
   font-family: Trebuchet MS, Verdana, GillSans, Arial;
	font-size: 11;
	font-weight: bold;
	color: black;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
   width:0%;
}

/* iframe of Rich Text Editor requires white background */
#commentEditorInline .commentBody
{
   background: white;
   border: 1px solid #666666;
   border-top-color: white;
   border-bottom-width: 0px;
}

#commentEditorInline .editorButtons
{
   background: #C6C6C6 url("../images/dialoginline/commentEditor-bottom.gif") repeat-x bottom left;
   padding: 5px;
   border: 1px solid #666666;
   border-bottom-color: #333333;
   border-top-width: 0px;
}

/* Discussion header has a text style */
.defaultDiscussionLabelStyle
{
   font-family: Trebuchet MS, Verdana, GillSans, Arial;
   font-weight: bold;
   color: #333333;
}

 .defaultCommentStyle
{
	padding-top: 20px;
	font-weight : normal;
	color: #000;
}

.defaultCommentUnreadStyle
{
	padding-top: 20px;
	color: red;
}

.defaultCommentStyle .title, .defaultCommentUnreadStyle .title
{
	font-weight: bold;
}

.defaultCommentLabelStyle
{
	font-weight: normal;
}

.defaultCommentVersionLabelStyle
{
   color: #0000C0;
}

.bookmarklabel
{
   color: #000;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 13px;
   font-weight: bold;
   display: none
}

A.bookmarklabel A:link
{
    background: none;
    text-decoration: none
}

A.bookmarklabel A:visited
{
    background: none;
    text-decoration: none
}

A.bookmarklabel
{
    background: none;
    text-decoration: none
}

.notePageContent
{
  padding: 20px;
  padding-bottom: 0
}

TABLE.dataTableFieldSetup TD
{
   padding: 10px;
}

/* Generic row has "middle" alignment so input fields line up */
TABLE.dataTableFieldSetup TR.genericPanel
{
   vertical-align: middle
}

TABLE.dataTableFieldSetup TR.optionsPanel TD
{
   padding-top: 0px
}

TABLE.dataTableFieldSetup .name
{
   padding-right: 0px
}

TABLE.dataTableFieldSetup .type
{
}

TABLE.dataTableFieldSetup .use
{
   border: 1px solid #A5ACB2;
   border-width: 0px 1px;
   width: 100px;
   text-align: center;
   padding-left: 5px;
   padding-right: 5px
}

TABLE.dataTableFieldSetup .buttons
{
   white-space: nowrap
}

TABLE.dataTableFieldSetup TD.options
{
   padding-left: 20px
}

/* Some controls are double-indented */
TABLE.dataTableFieldSetup DIV.indent, #scrollingcontent TABLE.dataTableFieldSetup DIV.indent
{
   padding: 0px 0px 0px 30px;
   width: auto
}

/* Text input in Data Table Fields dialog for member names etc. is wider than usual*/
TABLE.dataTableFieldSetup TD.options INPUT.defaultTextStyle, TABLE.dataTableFieldSetup TD.options TEXTAREA
{
   width: 260px
}

/* -------------------------------------------------------------------- */
/*  End rules for Collaboration Services                                */
/* -------------------------------------------------------------------- */

.actionimage
{
   display:inline;
   vertical-align: middle
}

.objectlistheaderspacing
{
   padding-left: 24px
}

.streamlinerowspacer
{
   padding-left: 15px;
   font-size: 1px
}
.pipetextshadow
{
   position: relative;
   left: 1px;
   top: 1px;
   line-height: 14px;
   color: #FBFBFB;
   font-size: 14px
}
.pipetext
{
   position: absolute;
   left: -1px;
   top: 0px;
   line-height: 14px;
   color: #848484;
   font-size: 14px
}
.colprefsicon
{
   padding-top: 7px;
   padding-left: 7px
}
.nodata
{
   padding: 8px 8px 8px 16px
}
.infobubble_crnr_top_lft
{
   background: url("../images/infobubble/bubble_crnr_top_lft.gif");
   line-height: 1px;
   font-size: 1px
}
.infobubble_crnr_bot_rt
{
   background: url("../images/infobubble/bubble_crnr_bot_rt.gif");
   line-height: 1px;
   font-size: 1px
}
.infobubble_crnr_top_rt
{
   background: url("../images/infobubble/bubble_crnr_top_rt.gif");
   line-height: 1px;
   font-size: 1px
}
.infobubble_crnr_bot_lft
{
   background: url("../images/infobubble/bubble_crnr_bot_lft.gif");
   line-height: 1px;
   font-size: 1px
}
/* Used in place of horizontal rules in multi section pages in conjunction with a non-breaking space */
.spacerline
{
   line-height:1px;
   font-size:1px;
   background: #000
}
/* Subtitle used to separate pages with multiple sections */
.subTitle
{
   color: #000;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 12px;
   line-height: 12px;
   font-weight: bold
}
/*Permissions Pages - classes to display selected permissions or restrictions */
.permissionsActive
{
   color: #000;
   text-decoration: none;
   font-weight: bold;
   font-size: 12px;
   background: #F4F4F5
}
.permissionsInactive
{
   color: #999;
   text-decoration: none;
   font-style: italic;
   font-weight: normal;
   font-size: 12px
}
.restrictedItem
{
   text-decoration: line-through;
   font-style: italic;
   font-weight: lighter;
   background: #F4F4F5
}
/*For display of placeholder text (text that will be replaced with a value once selected) within properties page.  */
.placeholdertext
{
   font-style: italic;
}
.note
{
   font-style: italic;
   color: #666;
   padding-top: 5px;
}
.noteWithoutPadding
{
   font-style: italic;
   color: #666;
   padding-top: 0px;
   display: block;
}
.defaultrowpadding
{
   padding-left: 8px;
   padding-right: 8px
}
/* Portal styles */
.portalErrorDialog
{
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  border: 2px solid #0060A9;
  width: 300px
}
.portalErrorDialogTitle
{
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #0060A9;
  color: #fff
}
.portalErrorDialogContent
{
   width: 100%;
   text-align: center;
   height: 100%;
   vertical-align: middle;
   color: red;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   padding: 20px 0px
}
.portalErrorDialogNavigation
{
   width: 100%;
   padding: 10px 0px 10px 0px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold
}
.portalAboutTitle
{
   color: #333;
   font-family: "Trebuchet MS", Verdana, GillSans, Arial;
   font-size: 16px
}
.innerdialogborder
{
   border: solid 1px #C6C6C6;
   padding: 10px
}
.innerdialogbuttonbar
{
   background: #C6C6C6;
   height: 33px;
   padding-right: 7px
}
.controlRowSpacing
{
   padding: 3px 8px
}
.nowrap
{
   white-space:nowrap
}
.termshighlight
{
    background: #FDFC9F
}
/* Scrollable Menus Support */
.scrollBtn
{
   background-position: center;
   background-repeat: no-repeat;
   background-color:#ccc;
   border: 1px solid #666;
   cursor: pointer
}
.scrollOver
{
   background:#999 !important
}
.scrollDownEnabled
{
   background: url("../images/popupmenu/down.gif")
}
.scrollDownDisabled
{
   background: url("../images/popupmenu/down_disabled.gif")
}
.scrollUpEnabled
{
   background: url("../images/popupmenu/up.gif")
}
.scrollUpDisabled
{
   background: url("../images/popupmenu/up_disabled.gif")
}
/* Datagrid Row Selection Support */
.datagridDesktopUI
{
   /* Placeholder for rich-ui grid */
}
.datagridDesktopUI .datagridDesktopUIHeader
{
   /* Placeholder for rich-ui grid */
}
.datagridDesktopUI .datagridDesktopUIData
{
   /* Placeholder for rich-ui grid */
}
.datagridDesktopUI .datagridDesktopUIFooter
{
   /* Placeholder for rich-ui grid */
}
.datagridDesktopUI .allItemsSelector
{
   display: none;
}
.datagridDesktopUI .selectable
{
   -moz-user-select: none;
   -khtml-user-select: none;
   cursor: default
}
.datagridDesktopUI .selectable .defaultActionLinkStyle
{
   color:#000
}
.datagridDesktopUI .selectable .selector
{
   display: none
}
.datagridDesktopUI .selected
{
   background: #b5c4d9
}
.datagridDesktopUI .nonselectable
{
   opacity: 0.4;
   filter: alpha(opacity=40)
}
.datagridDesktopUI .colResizer
{
   cursor: w-resize;
   position: absolute;
   height: 16px;
   width: 6px;
   z-index: 100;
   opacity: 0.5;
   filter: alpha(opacity=50)
}
.datagridDesktopUI .colResizerDrag
{
   cursor: default
}
.datagridDesktopUI .colResizerExtent
{
   position: absolute;
   top: 0px;
   width: 1px;
   z-index: 100;
   background: #000;
   opacity: 0.7;
   filter: alpha(opacity=70)
}
.datagridDesktopUI .datagridRightmostCell
{
   width: 99%
}
.datagridDesktopUI .datagridMinColumnWidth
{
   min-width: 16px
}

/* datagrid additional row style */
.additionalRowDesktopUI
{
   padding-left: 35px;
   padding-bottom: 4px
}

.additionalRow
{
   padding-left: 55px;
   padding-bottom: 4px
}

.sizecolumn
{
    text-align: right;
}
.rightButtonSection
{
  float: right;
}

.rightButtonSection BUTTON
{
  margin: 0 0 0 4px;
}
.helpButtonSection
{
   float: left;
   display:inline;
}

.attributeList
{
   margin-left: 4px
}
.showProperties
{
   padding: 10px;
   margin: 10px;
   text-align: left

}
.inlineHelpMessage
{
   color: #999;
   font-style: italic;
   display: block
}
/*Repeating Attribute Tables*/

#modal .pagerBackground
{
   background: #e4e6ea;
   padding-right: 3px;
   margin: 0
}
#modal .pagerBackground .pagerContent
{
   border-bottom: 1px solid #a5acb2;
}
#modal .headerRow TH, #modal .headerRow TD
{
   border-bottom: 1px solid #a5acb2;
   padding: 5px 0
}
/* Set some datagrid columns so width is 1/3 of overall table */
#modal .headerRow.columns3 TH.doclistfilenamedatagrid
{
    width: 33%;
}

/*Datagrid styles for modal containers*/
#modal .defaultDatagridStyle, #modal .datagridDesktopUI .defaultDatagridStyle
{
   border: 1px solid #a5acb2;
   width: 99%;
   padding: 0px;
   margin: 0;
   position: relative;
   background: #e4e6ea
}
#modal .defaultDatagridStyle A
{
   text-decoration: underline;
   color: #000;
   font-size: 11px;
   margin: 0;
   padding: 0
}
#modal .defaultDatagridStyle TABLE
{
   width: 100%;
   padding: 0;
   border: 0;
   margin: 0;
   border-collapse: collapse;
}
/* Tables that contain paging controls should not inherit a width */
/* These tables should be centered via 'auto' margins */
#modal .defaultDatagridStyle TABLE.defaultDataPagingStyle
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

/*D6 Login, Logout, About, and other smaller dialogs*/
#modalSmall
{
   background: url("../images/modal/modalpage_bg.gif") repeat-x #c3c5c7 !important;
   padding: 0;
   margin: 0;
   top:0px;
   bottom:0px;
   width: 100%;
   text-align: center
}
#modalSmall #leftcolumn
{
   border: 1px solid red
}
/*#modalSmall .innerContent*/
/*{*/
   /*padding: 20px 0;*/
/*}*/
#modalSmall #mainPaneset
{
   position: relative;
   top: 0;
   right: 0;
   margin: 0 auto;
   width: 400px;
   text-align: left
}

.modalSmallButtonBar
{
   padding-bottom: 20px;
   margin: 10px 0;
}
#modalSmall #logo
{
   text-align: center;
   margin: 0 0 10px 0;
   display: block;
   position: relative;
   color: #333;
   font-size: 22px;
   font-weight: bold
}
#modalSmall .dialogTitle
{
   color: #fff;
   font-size: 15px;
   font-weight: bold;
   display: block;
   overflow: hidden;
   margin-bottom: 10px;
}

#modalSmall .dialogTitleVersion
{
   color: #bbb
}
.showMoreHideMoreLink
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold
}
.disclosureTriangleOpen
{
   background: url(../icons/disclosuretriangle/open.gif) no-repeat;
   height: 16px;
   width: 16px;
   position: relative;
   display: inline;
   float: left;
   padding-right: 3px
}
.disclosureTriangleClosed
{
   background: url(../icons/disclosuretriangle/closed.gif) no-repeat;
   height: 16px;
   width: 16px;
   position: relative;
   float: left;
   display: inline;
   padding-right: 3px
}
.miniButton, #modal .defaultDatagridStyle .miniButton, #modal .fieldlabel .miniButton, #modal .defaultActionLinkStyle .miniButton, #modal .defaultDatagridStyle .pagerBackground .pagerContent .miniButton
{
   padding: 1px 2px;
   white-space: nowrap;
   font-size: 11px;
   font-family: Tahoma, Verdana, sans-serif;
   text-decoration: underline;
   color: blue;
   margin: 0
}
.miniButton:hover, #modal .defaultDatagridStyle .miniButton:hover, #modal .fieldlabel .miniButton:hover, #modal .defaultActionLinkStyle .miniButton:hover,  #modal .defaultDatagridStyle .pagerBackground .pagerContent .miniButton:hover
{
   margin: 0
}

/* Disabled minibuttons (spans) should look disabled */
SPAN.miniButton, #modal .defaultDatagridStyle SPAN.miniButton, #modal .fieldlabel SPAN.miniButton, #modal .defaultActionLinkStyle SPAN.miniButton, #modal .defaultDatagridStyle .pagerBackground .pagerContent SPAN.miniButton
{
   background: none;
   color: #666;
   text-decoration: none;
}
/* DIVs that contain mini buttons should not inherit width or padding */
#scrollingcontent .defaultDatagridStyle .pagerContent DIV, #scrollingcontent .contentBackground DIV
{
    padding: 0;
    width: auto
}

/* Alignments to support both LTR and RTL */
.leftAlignment
{
   text-align: left
}

.centerAlignment
{
   margin: 0 auto;
}

.rightAlignment
{
   text-align: right
}
.floatLeftAlignment
{
   float: left
}
.floatRightAlignment
{
   float: right
}
.radiopara
{
   padding:0;
   margin:0;
   font-size:11px;
   font-weight:bold;
   padding:0
}
.radiolabel
{
   padding: 0 0 5px 3px
}
.inlinehelppara
{
   padding: 0 0 0 5px;
   margin: 0
}

/* Locator related padding classes */
.locatorPatternFilterLeftPadding
{
   padding-left: 8px
}
.locatorGoButtonRightPadding
{
   padding-right: 5px
}
.locatorAttributeFilterRightPadding
{
   padding-right: 8px
}
.locatorPagingControlRightPadding
{
   padding-right: 8px
}
.locatorNoDataLabelLeftPadding
{
   padding-left: 8px
}
.locatorDataPagingLeftPadding
{
   padding-left: 5px
}
.drilldownLeftPadding
{
   padding-left: 4px
}
.inboxDrilldownDatagridRowLeftPadding
{
   padding-left: 18px
}
.docbaselockiconLeftPadding
{
   padding-left: 3px
}
.docbaseIconPadding
{
   padding-left: 3px
}
.dataGridFileNameLeftPadding
{
   padding-left: 8px
}
.aboutDialogCloseBtnRightPadding
{
   padding-right: 20px
}
.errorMsgIconRightPadding
{
   padding-right: 3px
}
.iconbutton
{
   background: none;
   border: none;
   margin: 0;
   padding: 0
}
/*D6 Modal Locator Styles*/
#modalLocator .dialogTitle
{
   padding: 0 0 0 18px;
   margin: 2px 0 0 0
}
#modalLocator #headerareaPane
{
   color: #fff;
   font-weight: bold
}

.breadcrumbContent
{
   width: 100%;
   height: 20px;
   position: absolute;
   right: 0px;
   border: none;
   background-repeat: no-repeat;
   color: #333;
   font-weight: bold;
   padding: 2px 5px;
   border: 1px solid #a5acb2;
   border: 0 0 0 1px
}

#modalLocator #iconwellarea
{
   height: 100%;
   background: #fff;
   border: 1px solid #999;
   border-top: 0;
   margin: 0
}
#modalLocator .pagerBackground
{
background: #ccc
}
#modalLocator .colHeaderBackground
{
   background: #e4e6ea
}
#workareacontent, #reportnameworkareacontent
{
   border: 1px solid #999;
   border-left: 0
}
#reportnameworkareacontent #workareacontent
{
   border: 0
}
#modalLocator #breadcrumbPane .breadcrumbdestination
{
   padding-left: 20px
}
#modalLocator .borderstyle
{
   border: 1px solid #999
}
.firstDataColumn
{
   padding-left: 16px
}
.red
{
   border: 1px solid red
}
.tskMgrContainerLeftPadding
{
   padding-left: 20px
}
.drilldownBodyCelllistLeftPadding
{
   padding-left: 4px
}
.drilldownBodyClientEnvPanelMargin
{
   margin-left: 2px;
   margin-right: 2px
}
.workFlowSendListRejectCheckBoxLeftPadding
{
   padding-left: 20px
}
.saveCredentialPadding
{
   padding-left: 10px;
   padding-right: 10px
}
.smartNavigationLabelLeftPadding
{
   padding-left: 20px
}
.smartNavigationSortableListLeftPadding
{
   padding-left: 60px
}
.searchSourcePreferencesLeftPadding
{
   padding-left: 20px
}
.checkoutProcessBodyMargin
{
   margin-left: 12px;
   margin-right: 0
}
.newRelationContainerLeftPadding
{
   padding-left: 5px
}
.inboxBodyMargin, .homeCabinetClassisBodyMargin, .myfilesBodyClassicMargin, .myfilesBodyStreamlineMargin,
   .subscriptionsBodyClassicMargin, .subscriptionsBodyStreamlineMargin, .streamlineViewBodyMargin,
   .categoryClassicBodyMargin, .objectlistBodyMargin, .objectlistThumbnailBodyMargin, .presetlistBodyMargin,
   .homeCabinetThumbnailBodyMargin, .logoffBodyMargin
{
   margin-left: 0;
   margin-right: 0
}
.dmclTraceBodyMargin, .refreshBodyMargin
{
   margin-left: 8px;
   margin-right: 0
}
.historyReleasedBodyMargin, .serverBusyBodyMargin, .timeoutBodyMargin, .tracingBodyMargin,
   .treeIFrameBodyMargin, .virtuallinkErrorPageBodyMargin
{
   margin-left: 13px;
   margin-right: 0
}
.fileBrowseLeftMargin
{
    margin-left: 2px
}
.lifecycleLocatorPanelLeftPadding
{
   padding-left: 8px
}
.lifecycleLocatorButtonRightPadding
{
   padding-right: 5px
}
.lifecycleLocatorPanelRightPadding
{
   padding-right: 8px
}

.searchMonitoringLegende
{
   position: absolute;
   z-index: 117;
   right: 0px;
   top: 280px
}
.commentRtePadding
{
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 0px
}
.commentRteOkButtonRightMargin
{
   margin-right: 5px
}
.topicBodyReplyPanelLeftPadding
{
   padding-left: 32px
}
.changeRoomMemberRoleMargin
{
    margin: 0.5em 0em
}
.roomMemberRoleRadioButtonRightPadding
{
   padding-right: 2em
}
.membershipGoButtonPadding
{
    padding-right: 20px;
    padding-left: 6px;
    padding-top: 0px;
    padding-bottom: 0px
}
.memberDatagridRowLeftPadding
{
   padding-left: 0px
}
.recordLocatorNameFilterLeftPadding
{
   padding-left: 8px
}
.recordLocatorGoButtonRightPadding
{
   padding-right: 5px
}
.recordLocatorItemsDropdownListRightPadding
{
   padding-right: 8px
}
.recordLocatorVersionsDropdownListRightPadding
{
   padding-right: 8px
}
.distributionListCheckBoxLeftPadding
{
   padding-left: 20px
}
.sendToListTdPadding
{
   padding-left: 10px
}
.sendToListPagePadding
{
   padding-left: 10px;
   padding-right: 10px
}
.startAttachmentDocbaseIconPadding, .reportDetailsDocbaseIconPadding, .startAttachmentImagePadding
{
   padding-right: 5px
}
.startAttachmentSpanImagePadding
{
   padding-right:1px;
}
.taskCommentsPageMargin
{
   margin-left: 42px;
   margin-top: 10px
}
.taskCommentsRemoveCommentButtonPadding
{
   padding-right: 10px
}
.reportDetailsLabelPadding
{
   padding-left: 10px;
   padding-top: 10px
}
.reportDetailsDatagridRowPadding
{
   padding-top: 6px;
   padding-bottom: 6px;
   padding-left: 3px
}
.reportDetailsFileInfoPadding
{
   padding-left: 3px;
   padding-right: 3px
}
.reportDetailsHeaderDivPadding
{
   padding-top: 8px;
   padding-left: 8px
}
.reportDetailsShowTasksDropDownPadding
{
   padding-left: 5px
}
.reportDetailsContainerDivPadding
{
   padding-top: 8px;
   padding-left: 20px
}
.reportMainRowPadding
{
   padding: 3px;
   padding-left: 20px;
   padding-bottom: 6px
}
.reportMainDrillDownDocbaseIconPadding
{
   padding-right: 5px;
   padding-left: 18px
}
.sendToListDocbaseIconPadding
{
   padding-right: 1px;
   padding-bottom: 3px
}
.sendToListLabelPadding
{
   padding-right: 10px
}
.startWorkFlowContainerComponentIncludePadding
{
    padding-left: 10px
}
.taskManagerPagePadding
{
   padding-left: 10px
}
.repeatLabelPadding
{
   padding-right: 10px
}
.taskManagerLabelPadding
{
   padding-left: 20px;
   padding-top: 10px
}
.taskManagerLabelInstructionPadding
{
   padding-left: 10px;
   padding-top: 10px
}
.taskManagerDatagridPadding
{
    padding-left: 20px
}
.taskManagerImagePadding
{
    padding-left: 10px
}
.taskmanagerDrilldownTextPadding
{
    padding-left: 20px
}
.taskmanagerDrilldownComponentincludePadding
{
   padding-left: 20px;
   padding-top: 10px
}
.taskManagerWorkflowTaskPadding
{
  padding-left: 20px
}
.TaskProgressTableMargin
{
   margin-left: 42px;
   margin-top: 10px
}
.installJVMBodyMargin
{
  margin-left: 12px;
  margin-right: 0
}
.workflowStatusDrilldownclientEnvPanelPadding
{
 padding-right: 3px
}
.workflowStatusDrilldownButton
{
  padding-right: 3px
}
.workflowStatusDrilldowndatagridRowpadding
{
  padding-left: 3px
}
.workflowStatusDrilldownIconPadding
{
   padding-right: 5px
}
.workflowStatusDrilldownLabelpadding
{
    padding-left: 10px
}
.workflowStatusDrilldownDropdownlistMargin
{
   margin-left: 3px;
   margin-right: 3px
}
.workflowStatusDrilldownShowItemsLabelPadding
{
   padding-right: 3px
}
.startWorkflowPagePadding
{
   padding-left: 10px
}
#scrollingcontent .taskHeaderDivPadding
{
   padding-left:20px;
   padding-top: 8px
}
.taskHeaderDivPadding
{
   padding-left: 20px;
   padding-top: 8px
}
.workflowStatusListdefaultpadding
{
  padding-left: 3px;
  padding-right: 3px
}
.filterdivPadding
{
  padding-bottom: 22px
}
.routerForwardLabelPadding
{
   padding-left: 10px
}
.routerRejectLabelPadding
{
   padding-left: 10px
}
.taskProcessvariablesDatagridMargin
{
   margin-left: 10px;
   margin-top: 10px
}

.vdmTreeGridTopTablePadding
{
   padding-top: 5px;
   padding-right: 5px;
   padding-bottom: 0px;
   padding-left: 5px;

}

.vdmTreeGridChildTablePadding
{
   padding-top: 0px;
   padding-right: 5px;
   padding-bottom: 0px;
   padding-left: 5px;

}
.newRelationContainerTDLeftPadding
{
   padding-left:20px;
}
.newRelationContainerTDLabelPadding
{
   padding-left:20px;
   padding-top:15px;
}
.dialogTitleTopMargin
{
   margin-top:10px;
}
.cancelCheckoutTopPosition
{
   position:relative;
   top:-12px
}
.cancelCheckoutLeftPadding
{
   padding-left:10px;
}
.membershipButtonDivStyle
{
   float: right;
   white-space: nowrap
}
.sendToDatagridStyle
{
   border: 1px solid #a5acb2;
   width: 99%;
   padding: 0;
   margin: 0;
   background: #e4e6ea
}

.newRelationContainerTDTopPadding
{
   padding-top:20px;
}

.listBoxButton
{
   min-width: 75px;
   text-align: center;
}
.borderstyleAttachment

{
   border: 1px solid #333333
}

 #messageBarNotification
 {
         width: 400px;
         height: 1px;
         position: absolute;
         right: 3px;
         bottom: 0; 
         overflow: hidden;
}

#messageBarScroller
{
         overflow: hidden;
         white-space: nowrap;
         width: 375px;
         height: 17px;
         margin-left: 5px;
         text-align: center;
}

#messageBarCloseButton
{
         height: 13px;
         width: 13px;
         background: url( ../images/button/close_message.gif ) no-repeat;
         position: absolute;
         top: 2px;
         right: 3px;
}

.goodNotification
{
         background: url( ../images/banner/green_background.gif ) repeat-x;
         margin-top: 3px;
}

.badNotification
{
         background: url( ../images/banner/red_background.gif ) repeat-x;
         margin-top: 3px;
}

.noNotification
{
         display: none;
}

.messageTimedatagrid
{
     padding:  2px 10px;
}

.messageLabeldatagrid{
   padding: 2px 0;
}

.messageTimedatagrid, .messageLabeldatagrid
{
   vertical-align: top;
}

.messageHeaderBackground
{
   BACKGROUND-COLOR: #e0dfe4
}
.messageArchiveBodyWithoutAttachment
{
   width:100%;
   height:100%;
   overflow:auto;
}
.messageArchiveBodyWithAttachment
{
   width:100%;
   height:100%;
   overflow:auto;
}
.messageArchiveBodyWithoutAttachmentIE10
{
   width:100%;
   height:500px;
   overflow:auto;
}
.messageArchiveBodyWithAttachmentIE10
{
   width:100%;
   height:300px;
   overflow:auto;
}
.helpImage, .imageButton{
   width: 20px;
   vertical-align: top;
 }

.helpImage IMG, .imageButton IMG{
   vertical-align: middle;
}

.titlebarWrapper{
  padding:  3px 4px;
}

   .titlebarWrapper #txtSearch{
      padding: 0 3px 0;
      vertical-align: top;
      height: 21px;
   }

   .titlebarWrapper .searchGoButtonRightPadding {
      width:24px;
      margin-left: -3px;
      margin-right: -1px;
      padding:0 0 1px;
      /*IE adjustment*/
      _margin:  1px 0 0;
   }

      .titlebarWrapper .searchGoButtonRightPadding IMG{
         vertical-align: middle;
      }

   .titlebarWrapper .searchTriangleLeftPadding
   {
      padding-bottom: 1px;
   }

      .titlebarWrapper .searchTriangleLeftPadding BUTTON{
         color: #666;
         padding:0 1px 2px;
         font-family:  Arial Unicode MS, Linux Libertine,Lucida Sans Typewriter Regular, Arial;
         _padding: 0 2px 0 1px;
         line-height: 1.4;
      }

      .titlebarWrapper .floatRightAlignment BUTTON{
         margin-left: 3px;
         margin-top: 1px;
      }

#xformsDialogHeader
{
   padding: 10px 0 0 18px;
   color:#FFFFFF;
   font-size:13px;
   font-weight:bold;
}

   #xformsDialogHeader SPAN
   {
      color:#FFFFFF;
   }








